
.DS_Store
data/properatti.csv
data/properatti_minusculas.csv
nbs/.ipynb_checkpoints/Mapeando Properatti FV-checkpoint.ipynb
nbs/.ipynb_checkpoints/Desafio1_Sup-checkpoint.ipynb
nbs/.ipynb_checkpoints/CP_desafio.01.1-checkpoint.ipynb
