
.DS_Store
data/properatti.csv
data/properatti_minusculas.csv
nbs/.ipynb_checkpoints/Mapeando Properatti FV-checkpoint.ipynb
nbs/.ipynb_checkpoints/Desafio1_Sup-checkpoint.ipynb
nbs/.ipynb_checkpoints/CP_desafio.01.1-checkpoint.ipynb
.ipynb_checkpoints/DesafioGrupo2-checkpoint.ipynb
nbs/.ipynb_checkpoints/Desafio1_precios-checkpoint.ipynb
nbs/.ipynb_checkpoints/LDZ_mi_desafio1-checkpoint.ipynb
properatti.csv
properatti_minusculas.csv
.DS_Store
data/valores_recuperados.csv
DesafioGrupo2.ipynb
nbs/...\dataalores_recuperados.csv
nbs/..\dataalores_recuperados.csv
nbs/..\data\valores_recuperados.csv
nbs/..\practicoDesafio01\dataalores_recuperados.csv
nbs/.\dataalores_recuperados.csv
nbs/.ipynb_checkpoints/CP_desarrollo-checkpoint.ipynb
nbs/valores_recuperados.csv
